@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --white-color: #FFFFFF; 
}

.about-container {
    padding: 25px;
    background-color: #FCEAC6; 
    color: var(--white-color); 
    text-align: center;
    font-family: 'Roboto', sans-serif; 
}

.about-container h1 {
    color: black; 
    margin-top: 1px; 
    font-weight: bolder;
}

.paragraph-container {
    background-color: white; 
    padding: 20px; 
    margin: 20px 0; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    line-height: 1.6; 
    text-align: center; 
    color:black;
    border-radius: 15px;

}

@media (max-width: 768px) {
    .paragraph-container {
        padding: 15px; 
        margin: 10px 0; 
    }
}
