.add-book-div {
    width: 100vw;
    height: 100vh; 
    background-color: #D6B498 !important;
    padding-top: 20px;
}

.upload-div {
    background-color: #d6b49879;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23d6b49879' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    text-align: -webkit-center;
}

.image-div {
    text-align: center;
    margin: 10px;
}

.add-form-container {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 5px;
}

.submit-btn.btn-primary {
    background: var(--primary-color);
    border-color: var(--primary-color);
}

.submit-btn.btn-primary:hover {
    background: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn-div {
    text-align: center;
}
