/* Author - Arihant Dugar */

.contact-us-div {
  width: 100vw;
  height: 100vh; 
  background-color: #D6B498 !important;
  padding-top: 20px;
}

.contact-us-container {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
}

.contact-us-container > h2 {
  margin-bottom: 20px;
}

.submit-btn {
  margin-top: 20px;  
}


.modal-footer {
  justify-content: center !important;
}

.modal-body {
  text-align: center !important;
}

.confirmation-img {
  height: 50px;
}

.modal-img-div {
  text-align: -webkit-center;
}

.form-close-btn.btn-primary {
  background: var(--primary-color);
  border-color: var(--primary-color);
}

.form-close-btn.btn-primary:hover {
  background: var(--secondary-color);
  border-color: var(--secondary-color);
}