.contact-form {
  padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px; 
    max-width: 500px; 
    margin: 0 auto; 
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 10px;
    border-radius: 5px; 
    border: 1px solid #ccc; 
    outline: none; 
  }
  
  .contact-form input:focus,
  .contact-form textarea:focus {
    border-color: #007bff; 
  }
  
  .contact-form button {
    padding: 10px 15px;
    width: fit-content;
    border-radius: 25px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    align-self: center;
  }
  
  .contact-form button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  