/* Ashish Nagpal */
.filter-options-container {
    min-width: 250px;
    overflow-y: auto;
    padding: 0;
    flex: 1;
    padding: 1em;
    border-right: 1px solid #e8e8e8;
}

.filter-options-btn {
    border: none !important;
    text-align: left !important;
    padding: 15px 0 !important;
    border-radius: 0;
    font-size: 25px;

}

.filter-heading-icon {
    padding: 0 10px;

}

.filter-heading-icon svg {
    width: 25px;
}

.filter-heading-icon~h4 {
    display: inline-block;
    margin: 1em 0 !important;
    font-weight: 500 !important;
    font-size: 1.2em !important;
}

.filter-options-list {
    padding: 0;
    list-style-type: none;
    cursor: pointer;
}

.arrow {
    border: solid var(--primary-text);
    border-width: 0 3px 3px 0;
    padding: 3px;
    margin: 0 10px;
    top: 24px;
    position: relative;
    float: right;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.filter-options-list>li {
    border-bottom: 1px solid #e8e8e8;
}

.filter-options-sub-list {
    padding: 0;
    padding-left: 2em;
    list-style-type: none;
}

.filter-options-sub-list > li{
    padding: 5px 0;
    cursor: default;
}

.filter-options-sub-list label{
    cursor: pointer;
}

.filter-options-sub-list input{
    margin-right: 10px;
    vertical-align: middle;
}

.close-sidebar-icon {
    float: right;
    position: relative;
    width: 22px;
    height: 22px;
    top: 10px;
}

.close-sidebar-icon svg {
    width: 22px;
    position: absolute;
}

.filter-bar {
    display: flex;
    gap: 1em;
    width: 100%;
    flex-wrap: wrap;
    position: sticky;
    top: 55px;
    padding: 15px 2em;
    margin-bottom: 2em;
    z-index: 5;
    background-color: var(--white-color);
}

.filter-icon {
    margin-right: 20px;
    vertical-align: text-bottom;
}

.filter-icon svg {
    width: 14.5px;
}


/* Search Box Start */
.search-box {
    position: relative;
    flex: 1;
    min-width: 200px;
}

.search-box input {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 2em;
    padding-left: 40px;
    width: 100%;
    box-sizing: border-box;
}

.search-box label {
    position: absolute;
    top: 15px;
    left: 40px;
    background-color: var(--white-color);
    z-index: 2;
    transition: transform 0.3s ease-out, font-size 0.3s ease-out, color 0.3s ease-out;
    pointer-events: none;
    color: var(--primary-text);
    opacity: 1;
}

.search-box input:focus {
    border-color: #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
    outline: none;
}

.search-box input:focus+label {
    transform: translate(-24px, -20px);
    font-size: 0.8em;
    color: #3498db;
}

.search-box input:not(:placeholder-shown):not(:focus)+label {
    opacity: 0;
    pointer-events: none;
}

.search-box svg {
    width: 15px;
    position: absolute;
    left: 20px;
    top: 16px;
    opacity: 1;
    cursor: none;
    transition: opacity 0.3s ease-in-out;
}

#remove-search {
    position: absolute;
    top: 16px;
    right: 20px;
    opacity: 0;
    color: black;
    pointer-events: none;
}

.search-box input:not(:placeholder-shown)~#remove-search {
    opacity: 1;
    cursor: pointer;
    pointer-events: all;
}

/* Search Box Ends */

/* Sort By */

.filter-bar-dropdown {
    position: relative;
    min-width: 165px;
}

.filter-bar-dropdown-btn {
    cursor: pointer;
    position: relative;
    text-align: center;
    background: var(--white-color);
    border-radius: 2em;
    padding: 15px 20px;
    border: 1px solid #ddd;
    color: var(--primary-text);
    font-weight: 500;
}

.filter-bar-dropdown-btn:hover {
    border-color: var(--primary-color);
}

.filter-bar-dropdown-btn label {
    position: absolute;
    left: 15px;
    background-color: var(--white-color);
    font-size: 12px;
    color: var(--primary-text);
    top: -6px;
    width: 50px;
}

.dropdown-content {
    position: absolute;
    left: 0;
    list-style-type: none;
    width: 100%;
    margin: 0;
    background-color: var(--white-color);
    padding: 15px 5px;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    margin-top: 3px;
    z-index: 2;
}

.dropdown-content .item {
    cursor: pointer;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
}

.dropdown-content .item:hover {
    color: var(--primary-color);
    font-weight: bold;
}

.selected {
    color: var(--primary-color);
}

.active-filters {
    list-style-type: none;
    flex-basis: 100%;
    display: flex;
    gap: 1.2em;
    margin: 2px;
    font-size: 13px;
}

.active-filters .filter-icon {
    margin-right: 5px;
}

.active-filters svg {
    width: 10px;
}

.filter-remove-icon {
    margin-left: 5px;
}

@media (max-width: 550px) {
    #filter {
        width: 100%;
    }
}