:root {
    --primary-color: rgba(192, 138, 95, 255);
    --white-color: #fff;
    --primary-text: #777;
}

.top-nav {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: var(--primary-color);
    color: var(--white-color);
    gap: 2em;
    position: sticky;
    top: 0;
    z-index: 5;
}

.logo {
    font-size: 24px;
}

.nav-options {
    display: flex;
    flex-direction: row;
    flex: 1;
    transition: transform 0.3s ease-in-out;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    list-style-type: none;
    padding: 0;
    gap: 2em;
    flex: 1;
}

.menu-auth {
    justify-content: flex-end;
}

.open {
    display: block !important;
    transform: translateX(0);
}

.menu li a {
    color: white;
    text-decoration: none;
}

.menu li svg {
    width: 15px;
    align-self: center;

}

.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.menu-toggle .bar {
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 2px;
}

.cross-btn {
    background: none;
    border: none;
    color: white;
    display: none;
    position: absolute;
    right: 55px;
    top: 15px;
    font-size: 20px;
    transition: transform 0.3s;
    cursor: pointer;
}

.cross-btn:hover {
    transform: rotate(90);
    color: blue;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }

    .top-nav {
        justify-content: space-between;
    }

    .nav-options {
        position: absolute;
        width: 100%;
        top: 0;
        z-index: 3;
        transform: translateX(-100%);
        left: 0;
        background-color: var(--primary-color);
        padding: 20px;
        flex-direction: column;
    }

    .menu {
        flex-direction: column;
    }

    .menu-auth {
        justify-content: flex-start;
    }

    .nav-options.open {
        transform: translateX(0);
    }
}