.home-container {
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: black;
}

.home-container::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20px; 
  background: linear-gradient(to bottom, rgba(49, 47, 47, 0), #312f2f); 
  pointer-events: none; 
}

.popular-books-title {
  font-size: 35px;
  color: #ffffff;
  font-weight: bold;
  padding: 18px;
  width: 100%;
}
.top-sellers-title {
  font-size: 35px;
  color: #ffffff;
  font-weight: bold;
  padding: 18px;
  width: 100%;
}

.recommendations-title {
  font-size: 35px;
  color: #ffffff;
  font-weight: bold;
  padding: 18px;
  width: 100%;
}
.new-title {
  font-size: 35px;
  color: #ffffff;
  font-weight: bold;
  padding: 18px;
  width: 100%;
}

.genres-title {
  font-size: 35px;
  color: #ffffff;
  font-weight: bold;
  padding: 18px;
  width: 100%;
}
.language-title {
  font-size: 35px;
  color: #ffffff;
  font-weight: bold;
  padding: 18px;
  width: 100%;
}

.books-container {
  position: relative;
  width: 100%;
  display: flex; 
  justify-content: center;
  padding:0%;
  align-items: center;
}

.books-scroll-container {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 0px;
  width: 100%;
  margin-left: inherit;
}

.books-scroll-container::-webkit-scrollbar {
  display: none;
}



.scroll-btn:first-of-type {
  left: 0;
}

.scroll-btn:last-of-type {
  right: 0;
}
.scrolling-wrapper {
  overflow-x: auto;
  display: flex;
  gap: 20px;
  padding: 20px;
  width: 100%;
  background-color: #000000;
}

.card-block {
  height: 250px !important;
  width: 300px !important;
  background-position: center !important;
  background-size: cover !important;
  transition: all 0.2s ease-in-out !important;
  border-radius: 24px !important;
  position: relative !important;
}

.card-block:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  opacity: 0.9;
}

/* Specific card background colors and images */
.card-1{
	background-color: #4158D0;
background-image: url(https://w.forfun.com/fetch/77/77019e5c5c328678fb1a7086e4405e78.jpeg?h=1200&r=0.5);
}

.card-2{
	background-color: #0093E9;
background-image: url(https://images.pexels.com/photos/194917/pexels-photo-194917.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
}

.card-3{
	background-color: #00DBDE;
background-image: url(https://images.pexels.com/photos/1374064/pexels-photo-1374064.jpeg?auto=compress&cs=tinysrgb&w=800);
}

.card-4{
	background-color: #FBAB7E;
background-image: url(https://images.pexels.com/photos/326055/pexels-photo-326055.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
}

.card-5{
	background-color: #85FFBD;
background-image: url(https://images.pexels.com/photos/18396/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
}

.card-6{
	background-color: #FA8BFF;
background-image: url(https://images.pexels.com/photos/626164/pexels-photo-626164.jpeg?auto=compress&cs=tinysrgb&w=800);
}
/*language card */
.card-7{
	background-color: #4158D0;
background-image: url("../assets/english.webp");
}

.card-8{
	background-color: #0093E9;
background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/46f07533575249.56b04ae330125.jpg);
}

.card-9{
	background-color: #00DBDE;
background-image: url("../assets/tamil.webp");
}

.card-10{
	background-color: #FBAB7E;
background-image: url("../assets/kannada.webp");
}

.card-11{
	background-color: #85FFBD;
background-image: url("../assets/telugu.webp");
}

.card-12{
	background-color: #FA8BFF;
background-image: url("../assets/hindi.webp");
}

.card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em; 
  text-align: center;
  z-index: 2; 
  font-weight: bolder;
}