/* Author - Arihant Dugar */

#hero {
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  margin-top: 70px;
  padding: 60px 0;
}

#hero h1 {
  margin: 0 0 20px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #364146;
}

#hero h2 {
  color: #576971;
  margin-bottom: 30px;
  font-size: 24px;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 28px;
  border-radius: 3px;
  transition: 0.5s;
  color: #fff;
  background: var(--primary-color-dark);
}

#hero .btn-get-started:hover {
  background: var(--secondary-color);
  border-color: var(--secondary-color);
}

#hero .hero-img {
  text-align: center;
}

#hero .hero-img img {
  width: 70%;
}

.home-info-text-div {
  text-align-last: center;
}


section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f7f8f9;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 0;
  font-family: "Poppins", sans-serif;
  color: #627680;
}

.section-title p {
  margin-bottom: 0;
}

.about {
  padding: 0;
  margin-top: 40px;
}

.about .container {
  background-color: #dcdcdc;
  padding: 20px 50px;
}

@media (max-width: 992px) {
  .about .container {
    padding: 30px;
  }
}

.about h3 {
  font-weight: 400;
  font-size: 32px;
  color: #364146;
  font-family: "Poppins", sans-serif;
}

.about ul {
  list-style: circle;
  padding: 0;
}

.about ul li {
  padding-bottom: 10px;
}

.about ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #28a745;
}

.about  p:last-child {
  margin-bottom: 0;
}

.about .container img {
  max-width: 80%;
}

.services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  margin: 0;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
  text-align: center;
  border-bottom: 3px solid #fff;
}

.services .icon-box:hover {
  transform: translateY(-5px);
}

.services .icon i {
  font-size: 48px;
  line-height: 1;
  margin-bottom: 15px;
}

.services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .title a {
  color: #111;
}

.services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.services .icon-box-pink .icon i {
  color: #ff689b;
}

.services .icon-box-pink:hover {
  border-color: #ff689b;
}

.services .icon-box-cyan .icon i {
  color: #3fcdc7;
}

.services .icon-box-cyan:hover {
  border-color: #3fcdc7;
}

.services .icon-box-green .icon i {
  color: #41cf2e;
}

.services .icon-box-green:hover {
  border-color: #41cf2e;
}

.services .icon-box-blue .icon i {
  color: #2282ff;
}

.services .icon-box-blue:hover {
  border-color: #2282ff;
}

.services .icon {
  margin-bottom: 20px;
  text-align: -webkit-center;
}
