/* Book Background */

.background {
    position: relative;
    height: 50vh;
    background-image: url('../../public/book-library-background.jpg');
    background-size: cover;
    overflow: hidden;
    background-attachment: fixed;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--white-color);
}

.scroll-content {
    padding: 50px 0;
}

.scroll-content {
    scroll-behavior: smooth;
}

/* Book Background End */


.filter-bar {
    display: flex;
    gap: 1em;
    width: 100%;
    flex-wrap: wrap;
}

#filter-icon {
    margin-right: 20px;
}

#filter-icon svg {
    width: 14.5px;
}

/* Search Box Start */
.search-box {
    position: relative;
    flex: 1;
    min-width: 200px;
}

.search-box input {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 2em;
    padding-left: 40px;
    width: 100%;
    box-sizing: border-box;
}

.search-box label {
    position: absolute;
    top: 15px;
    left: 40px;
    background-color: var(--white-color);
    z-index: 2;
    transition: transform 0.3s ease-out, font-size 0.3s ease-out, color 0.3s ease-out;
    pointer-events: none;
    color: var(--primary-text);
    opacity: 1;
}

.search-box input:focus {
    border-color: #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
    outline: none;
}

.search-box input:focus+label {
    transform: translate(-24px, -20px);
    font-size: 0.8em;
    color: #3498db;
}

.search-box input:not(:placeholder-shown):not(:focus)+label {
    opacity: 0;
    pointer-events: none;
}

.search-box svg {
    width: 15px;
    position: absolute;
    left: 20px;
    top: 16px;
    opacity: 1;
    cursor: none;
    transition: opacity 0.3s ease-in-out;
}

#remove-search {
    position: absolute;
    top: 16px;
    right: 20px;
    opacity: 0;
    color: black;
    pointer-events: none;
}

.search-box input:not(:placeholder-shown)~#remove-search {
    opacity: 1;
    cursor: pointer;
    pointer-events: all;
}

/* Search Box Ends */

/* Sort By */

.dropdown {
    position: relative;
    min-width: 165px;
}

.dropdown .dropdown-btn {
    cursor: pointer;
    position: relative;
    text-align: center;
    background: var(--white-color);
    border-radius: 2em;
    padding: 15px 20px;
    border: 1px solid #ddd;
    color: var(--primary-text);
    font-weight: 500;
}

.dropdown-btn:hover {
    border-color: var(--primary-color);
}

.dropdown-btn label {
    position: absolute;
    left: 15px;
    background-color: var(--white-color);
    font-size: 12px;
    color: var(--primary-text);
    top: -6px;
    width: 50px;
}

.dropdown-content {
    position: absolute;
    left: 0;
    list-style-type: none;
    width: 100%;
    margin: 0;
    background-color: var(--white-color);
    padding: 15px 5px;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    margin-top: 3px;
    z-index: 2;
}

.dropdown-content .item {
    cursor: pointer;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
}

.dropdown-content .item:hover {
    color: var(--primary-color);
    font-weight: bold;
}

.selected {
    color: var(--primary-color);
}


/* Book List Start */

.book-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex: 100%;
    gap: 4em;
    padding: 20px;
}

.book-card {
    position: relative;
    max-width: 230px;
    cursor: pointer;
    align-self: center;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    background-color: rgba(211, 211, 211, 0.7);
    padding: 20px;

}

.book-cover:hover {
    transform: translateY(-30px);
}

.book-cover {
    transform: translateY(-40px);
    width: 230px;
    height: 180px;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
}

.book-shelf {
    position: absolute;
    bottom: 40px;
    width: 60%;
    background: linear-gradient(30deg, rgba(254, 228, 175, 255), #996443);
    padding: 5px;
    text-align: center;
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.4);
}

.pagination {
    margin-top: 20px;
    gap: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.pagination ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.pagination li {
    display: inline-block;
    color: black;
    padding: 8px 16px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color .3s;
    border-radius: 200px;
}

.pagination li.active {
    background-color: var(--primary-color);
    color: white;
}

.pagination-btn {
    padding: 20px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 20px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.pagination-btn:disabled {
    background-color: #ccc;
    cursor: none;
    pointer-events: none;
}

.pagination li:hover:not(.active) {
    background-color: #ccc;
}

@media (max-width: 768px) {
    .filter-bar {
        justify-content: space-between;
    }

    .search-box {
        order: 3;
        flex-shrink: 0;
    }

    .dropdown {
        max-width: 50%;
    }
}

@media (max-width: 550px){
    .pagination ul{
        order: -1;
    }
    .filter-bar {
        justify-content: space-around;
    }
}